<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Callouts</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet non
            incidunt nesciunt, hic laborum cupiditate! Porro, aut! Cupiditate,
            placeat sapiente? Odit quas a reiciendis officiis nulla placeat
            impedit error amet ipsam fugit unde pariatur sint illo ut, sed culpa
            voluptatum vel et at deleniti iusto. Veritatis voluptatum animi
            optio. Quis?
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn__stretched">Get Started</a>
      </div>
    </div>
  </body>
</html>
