<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/styles.css" />
    <style></style>
    <title>Testimonials</title>
  </head>
  <body style="padding: 5rem">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="../image/melke.jpg" alt="A happy, smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="../image/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
            earum amet architecto accusantium voluptas, aspernatur recusandae
            doloremque voluptatem sequi eius nam facere, et a dolores ex! Dicta
            exercitationem accusamus doloribus cum cumque culpa! Accusamus
            dolore reprehenderit officia maiores eum incidunt alias provident
            fuga voluptatibus. Quo non voluptatem id eligendi vel neque,
            explicabo illo odio, nisi alias aperiam eos laborum sunt porro
            labore maxime voluptate, molestiae error optio dolorem?.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="../image/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </body>
</html>
